# URL สำหรับ API Frontend (หน้าบ้านเรียกหาข้อมูล API)
NEXT_PUBLIC_API_URL=/api

# Supabase Database Password (รหัสผ่านของฐานข้อมูล Supabase)
SUPABASE_PASSWORD="YOUR_SUPABASE_PASSWORD"

# URL หลักสำหรับเชื่อมต่อฐานข้อมูลในแอปพลิเคชัน (Transaction mode - Port 6543)
DATABASE_URL="postgresql://postgres.[PROJECT_ID]:YOUR_SUPABASE_PASSWORD@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&schema=public"

# URL ตรงสำหรับการย้ายโครงสร้างฐานข้อมูล Migrations/db push (Session mode - Port 5432)
DIRECT_URL="postgresql://postgres.[PROJECT_ID]:YOUR_SUPABASE_PASSWORD@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?schema=public"
