# URL สำหรับ API Frontend (หน้าบ้านเรียกหาข้อมูล API)
NEXT_PUBLIC_API_URL=/api

# Supabase Database Password (รหัสผ่านของฐานข้อมูล Supabase)
SUPABASE_PASSWORD="YOUR_SUPABASE_PASSWORD"

# URL สำหรับเชื่อมต่อฐานข้อมูล Prisma (อ้างอิงตรงไปยัง Supabase Cloud Database)
DATABASE_URL="postgresql://postgres.[PROJECT_ID]:YOUR_SUPABASE_PASSWORD@aws-0-[REGION].pooler.supabase.com:5432/postgres?schema=public"
